@import 'tailwindcss';

@theme {
  /* Brand colors */
  --color-brand-primary: #0b9ec0;
  --color-brand-secondary: #a045ce;

  /* References to Google Fonts defined in root layout.tsx */
  --font-fira: var(--font-fira);
  --font-inter: var(--font-inter);

  /* Spacing scale */
  --spacing-3xs: 0.125rem; /* 2px */
  --spacing-2xs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing-m: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 3rem; /* 48px */
  --spacing-3xl: 4rem; /* 64px */

  /* Icon size scale */
  --container-icon-xs: 0.75rem; /* 12px */
  --container-icon-sm: 1rem; /* 16px */
  --container-icon-md: 1.5rem; /* 24px */
  --container-icon-lg: 2rem; /* 32px */
  --container-icon-xl: 3rem; /* 48px */

  /* Font size scale */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */

  /* Success colors */
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;

  /* Error colors */
  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;

  /* Warning colors */
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e42;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-size: var(--text-base);
  }

  h1 {
    font-size: var(--text-5xl);
  }
}
